.chat
  .chat-title
    %h1 小白
    %figure.avatar
      #bai-icon= image_tag  "bai.png"
  .messages
    .messages-content
  .message-box
    %textarea.message-input{:placeholder => "输入消息...", :type => "text"}
    %button.message-submit{:type => "submit"} 发送
